@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Mochiy+Pop+One&family=Outfit:wght@300&family=PT+Serif&family=Raleway:wght@200&display=swap');


body{
    color: #898fa1;
    line-height: 1.8;
    font-size: 15px;
}
/* h1,h2,h3,h5,h6{
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #11245A;
} */

a{
    font-weight: 700;
    transition: all 0.4s ease;
}
img{
    width: 100%;
}

/*Navbar Style */
.navbar{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar .nav-link{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.navbar-light .navbar-nav .nav-link.active{
    color: red;
}
.dropdown-item {
    padding: 0.12rem 0.9rem;
    text-transform: uppercase;
    font-size: 12px;
}
.dropdown-menu.show {
    display: block;
    border-radius: inherit;
}
.navbar-light .navbar-toggler {
    color: rgb(0, 0, 0);
    font-size: x-large;
    border-color:white;
}
.btn-danger {
    margin-left: 0px;
    color: #fff;
    border-radius: 0px;
    background-color: #dc3545;
   
}
.btn-danger:hover {
    color: #fff;
    border-radius: 0px;
    background-color: #070102;
  
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(18 16 16);
}

  /**Slider style **/
  .w-100 {
    width: 100%!important;
    height: 550px;
}


/**********Team section ****/
.team{
    background: #2c2d2c;
    padding: 40px 0px;
}
.section-title{
    padding: 10px 0px;
    text-align: center;
}
.section-title h2{
    font-size: 44px;
    font-weight: 700;
}
.section-title p{
    font-size: 20px;
    font-weight: 500;
}
.team-item{
    position: relative;
    background: #fff;
    margin: 15px 8px;
    overflow: hidden;
    cursor: pointer;
}
.item-meta{
    position: absolute;
    background-color:#656865;
    width: 100%;
    bottom: -35px;
    left: 0;
    padding: 10px 20px;
    transition: all .5s;
}
.team-item:hover .item-meta{
    bottom: 0px;
}

.row {
    --bs-gutter-x: 0.5rem;
    --bs-gutter-y: 0.1rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}
.item-meta h3{
    color: #fff;
    font-size: 20px;
    font-weight: 400px;
}
.item-meta h6{
    color: #fff;
}
.team-item:hover img{
    background: #dc3545;
}


/***About**/
.about_us{
    background: #2c2d2c;
    padding: 40px 0px;
}
.about-title{
    text-align: justify;
    color: #fff;
    font-size: 15px;
    font-weight: 200px;
}
body {
    color: #fff;
    line-height: 1.5;
    font-size: 15px;
    text-align: justify;
}
.about-img{
   margin-top: 30px;
}
